<div class="dashboard">

  <h1>FinScope AI</h1>

  <p class="subtitle">
    AI-powered financial document analysis
  </p>

  <div class="card">
    <input
      type="file"
      (change)="onFileSelected($event)"
    />

    <button (click)="analyseFile()">
      Analyse Report
    </button>
  </div>

  <div *ngIf="loading" class="card">
    Analysing financial report...
  </div>

  <div *ngIf="analysisResult" class="results">

    <div class="card">
      <h2>Risk Level</h2>
      <div class="risk">
        {{ analysisResult.insights?.risk_level }}
      </div>
    </div>

    <div class="card">
      <h2>AI Summary</h2>
      <p>
        {{ analysisResult.summary }}
      </p>
    </div>

    <div class="card">
      <h2>Detected Keywords</h2>
      <div class="keywords">
        <span
          *ngFor="let keyword of analysisResult.insights?.keywords"
          class="keyword"
        >
          {{ keyword }}
        </span>
      </div>
    </div>

    <div class="card">
      <h2>Financial Analytics</h2>
      <div class="chart-container">
        <canvas
          baseChart
          [data]="barChartData"
          [options]="chartOptions"
          [type]="'bar'">
        </canvas>
      </div>
    </div>

    <div class="card">
      <h2>Risk Score</h2>
      <div class="risk">
        {{ analysisResult.insights?.risk_score }}
      </div>
    </div>

    <div class="card" *ngIf="analysisResult.metrics">
      <h2>Financial Metrics</h2>

      <p>
        Revenue:
        {{ analysisResult.metrics.revenue?.currency }}
        {{ analysisResult.metrics.revenue?.value }}
      </p>

      <p>
        Expenses:
        {{ analysisResult.metrics.expenses?.currency }}
        {{ analysisResult.metrics.expenses?.value }}
      </p>

      <p>
        Profit:
        {{ analysisResult.metrics.profit?.currency }}
        {{ analysisResult.metrics.profit?.value }}
      </p>
    </div>

  </div>
</div> 
